body{
	padding-left: 240px;
}

.container{
	width: 82%;
}

#slide-out li.active{
	background: #202b30;
}

.ranking i.material-icons{
	font-size: 27pt;
}

.low-ranking i.material-icons{
	font-size: 18pt;
}

.condense{
	margin-bottom: 17px;
}

.voteup:hover, .votedown:hover{
	font-size: 35px;
}

.voteup{
	font-size: 28px;
	position: absolute;
	display: inline-block;
	right: 20px;
	top: 28px;
}

.votedown{
	font-size: 28px;
	position: absolute;
	display: inline-block;
	right: 20px;
	bottom: 28px;
}

.horizontal{
	margin: 0px;
}

.horizontal .card-image{
	height: 120px;
	width: auto;
}

.horizontal .card-image img{
	height: 100%;
}

.input-field:hover{
	border-bottom: 1px solid #9e9e9e;
}

ul.browser-default li {
  list-style-type: initial;
}

.button-collapse{
	height: 50px;
	display: none;
}

.button-collapse i.material-icons{
	padding: 12px;
}

.card .card-content{
	padding-top: 10px;
}

.pagination { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li.active{
	background: #37474f;
}

nav {
    height: 45px;
    line-height: 45px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 45px;
    line-height: 45px;
}

nav .button-collapse i {
    height: 45px;
    line-height: 45px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

nav ul li:hover {
   background-color: red;
}

@media only screen and (max-width : 992px) {
	body{
		padding-left: 0;
	}
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 45px;
        line-height: 45px;
    }
	.container{
		width: 85%;
	}
	.button-collapse{
		display: block;
	}

}

@media only screen and (max-width : 450px){
	.horizontal .card-image{
		height: 80px;
		width: auto;
	}

	.horizontal .card-image img{
		height: 100%;
	}

	.horizontal .card-title{
		margin-bottom: 10px;
		height: 30px;
		font-size: 10pt;
	}	
	.horizontal .card-content{
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 10px;
		font-size: 8pt;
	}

	.voteup:hover, .votedown:hover{
		font-size: 25px;
	}

	.voteup{
		font-size: 22px;
		position: absolute;
		display: inline-block;
		right: 8px;
		top: 13px;
	}

	.votedown{
		font-size: 22px;
		position: absolute;
		display: inline-block;
		right: 8px;
		bottom: 13px;
	}

	.special{
		font-size: 15pt !important;
	}

	.special i.material-icons{
		font-size: 12pt;
	}
}