{% extends "app/base.html" %}

{% load staticfiles %}

{% block title %}Results - Bar{% endblock %}

{% block menu %}
<ul id="slide-out" class="side-nav fixed blue-grey darken-4 z-depth-4">
  <li>
    <div class="userView">
      <div class="background">
        <img class="responsive-img" src="{% static 'img/barbackground.jpg' %}">
      </div>
      <img class="circle" src="{% static 'img/sidebarIcon.png' %}">
      <span class="white-text name">STRAIGHT SHOTS</span>
      <span class="white-text email">It's what we do.</span>
    </div>
  </li>
  <li><a class="subheader green-text text-accent-2">DRINKS</a></li>
  <li><a href="/available" class="waves-effect white-text">Available<i class="small material-icons white-text">check_circle</i></a></li>
  <li><a href="/" class="waves-effect white-text">Recipe<i class="small material-icons white-text">view_list</i></a></li>
  <li><a href="/favorite" class="waves-effect white-text">Favorite<i class="small material-icons white-text">favorite</i></a></li>
  <li><a class="subheader green-text text-accent-2">SPECIALS</a></li>
  <li><a href="/special" class="waves-effect white-text">The Special<i class="small material-icons white-text">star_rate</i></a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse blue-grey darken-4 z-depth-4"><i class="material-icons white-text">menu</i></a>
{% endblock %}

{% block content %}
<nav class="white z-depth-1">
  <div class="nav-wrapper">
    <form method="get" action="/results">
      <div class="input-field">
        <input id="search" type="search" name="query" placeholder="Type to search...">
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row"></div>
  <div class="row"></div>
 {% for row in rows %}
    <div class="row">
      {% for drink in row %}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'img/' %}{{drink.image_name}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4 truncate">{{drink.name}}<a class="btn-floating btn-med waves-effect waves-light red" style="position: absolute; display: inline-block; right: 20px; bottom: 75px;"><i class="material-icons">list</i></a></span>
              <p>{{drink.ingridients}}</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{drink.name}}<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div> 


{% endblock %}